.caculator{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    margin: 50px;
    border: 2px solid black;
    
}
#kq{
    width: fit-content;
    height: 100px;
    font-size: 50px;

}
button{
    width: 19%;
    height: 100px;
    font-size: 50px;
}
button:hover{
    cursor: pointer;
    background-color: chartreuse;
}
button:hover:not(:hover) {
    background-color: red; /* Các nút còn lại sẽ vẫn giữ màu đỏ */
}