html{
        background-image: url("");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-sizing: border-box;
        background-size: cover;
        border-width: thick;
        border: 5px black;
}
.title1 {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    
}
.title1 .intitle1{
    font-weight: bold;
}
.title2{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;

  
}

.title2 .intitle2{
    text-transform: uppercase;
    font-weight: bold;
}
