* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu {
  display: flex;
  list-style: none;
  background: rgb(1, 178, 1);
}

.menu li {
  position: relative;
  font-weight: bold;
  padding: 10px;
  border: 1px solid rgb(1, 178, 1);
}

.menu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.menu li:hover {
  background-color: rgb(38, 159, 1);
}
.submenu
{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(1, 178, 0);
  border: 1px solid #ccc;
  z-index: 100;
}
.menu li:hover .submenu {
  display: block;
}
.submenu ul,
.sub {
  list-style: none;
}

.submenu a,
.sub a {
  display: block;
  padding: 10px 20px;
  width: 230px;
  color: white;
}

.sub {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: rgb(1, 178, 0);
  border: 1px solid #ccc;
  z-index: 100;
}

.submenu li:hover .sub {
  display: block;
}